<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- 数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/demo?characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="123" />
	</bean>
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/entity/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>
    <!-- 事务管理 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    	<tx:attributes>
    		<tx:method name="get*" read-only="true" />
    		<tx:method name="*" read-only="false" />
    	</tx:attributes>
    </tx:advice>
    <aop:config>
    	<aop:pointcut expression="execution(* com.dao.*.*(..))" id="UserDaoOperation"/>
    	<aop:pointcut expression="execution(* com.service.*.*(..))" id="UserServiceOperation" />
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="UserServiceOperation"/>
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="UserDaoOperation" />
    </aop:config>
	<!-- 数据访问对象 -->
	<bean id="userDao" class="com.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 服务对象 -->
	<bean id="userService" class="com.service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
</beans>







